.m-y-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-x-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.p-y-0 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-y-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
